@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&family=Quicksand:wght@700&family=Yuji+Mai&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.margintop45{
    margin-top: 45px;
}
.marginbot45{
    margin-top: -45px;
}
.header{
    z-index: 1020;
    background-color: rgba(255, 255, 255, 0.744);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.482);
    align-items: center;
}
.nav-btn{
    border-radius: 50%;
    padding: 4px;
    width: fit-content;
    transition: .5s;
}
.bar{
    background-color: black;
    width: 30px;
    height: 4px;
    margin: 6px;
}
.main-heading{
    font-weight: bold;
    font-size: 170%;
}
.coins-btn img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coins-btn::after{
    content: "---";
    color: white;
    position: absolute;
    font-weight: lighter;
    margin: -2px 0 0 0px;
}
.main-nav{
    margin-top: 51px;
    position: absolute;
    z-index: 2000;
    width: 100vw;
    height: 90.85vh;
    backdrop-filter: blur(5px);
    background-color: rgba(138, 255, 125, 0.338);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin-left-120vw{
    margin-left: -120vw;
}
.margin-left-0{
    margin-left: 0;
}
.version-info{
    font-size: 120%;
    float: left;
}
.main-nav button{
    float: right;
    padding: 5px;
    border-radius: 10px;
    border: none;
}
.p-rotate{
    transform: rotate(45deg);
    transition: .5s;
}
.opacity0{
    opacity: 0;
    transition: .5s;
}
.n-rotate{
    transform: rotate(-45deg);
    margin-top: -20px;
    transition: .5s;
}
.add-btn{
    font-size: 350%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: aqua;
    width: 15vw;
    max-width: 70px;
    height: 15vw;
    max-height: 70px;
    line-height: 0;
    position: fixed;
    z-index: 20;
    bottom: 20px;
    right: 20px;
    user-select: none;
    transition: .5s;
}
.rotate0{
    transform: rotate(0deg);
}
.none{
    display: none;
}
.block{
    display: block;
}
.add-new{
    z-index: 50;
    position: fixed;
    width: fit-content;
    height: fit-content;
    bottom: 1%;
    right: 1%;
    backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.382);
    margin: 10vh 15vw;
}
.add-new-heading{
    font-size: 180%;
    margin: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.474);
}
.add-new input
,.add-new button{
    width: 90%;
    height: 30px;
    border: 1px solid black;
    margin: 10px 5%;
    border-radius: 10px;
}
.add-new button{
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-weight: bold;
}
.main-search{
    position: absolute;
    z-index: 1001;
    width: 90%;
    margin: 10px 5%;
    margin-top: 60px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.333);
}
#ul{
    z-index: 1001;
    position: absolute;
    width: 90%;
    margin: 90px 5%;
    list-style: none;
    border-radius: 10px;
    padding: 5px;
}
#ul li{
    margin-bottom: 2px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.333);
}
#ul li a{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* .bg-ful{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
} */
#list{
    position: absolute;
    list-style: none;
    width: 100%;
}
#list li{
    border: 1px solid rgba(0, 0, 0, 0.474);
    border-radius: 10px;
    padding: 10px;
    margin: 2px 0;
}
#list li a{
    font-weight: bold;
    font-size: 140%;
}
.contacts-container{
    overflow: auto;
    width: 90%;
    margin: 0 5%;
    margin-top: 95px;
    padding: 0;
    height: 81.5vh;
    position: fixed;
}
.contacts-container::-webkit-scrollbar{
    width: 5px;
    margin-right:100px;
}
.contacts-container::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.512);
    border-radius: 5px;
}